<div ng-controller="AuthController">
    <form role="form" class="form-horizontal" ng-submit="form.submit()">
        <div class="form-group">
            <label for="email" class="control-label">Электронная почта</label>
            <div class="controls">
                <input type="email" class="form-control" id="email" placeholder="user@example.com" ng-model="form.email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Пароль</label>
            <div class="controls">
                <input type="password" class="form-control" id="password" ng-model="form.password">
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="form.remember">Запомнить
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button class="btn btn-primary">Вход</button>
            </div>
        </div>
    </form>
</div>