<div ng-controller="CommentsController">
    <div>
        <dl>
            <div ng-repeat="comment in comments" style="margin-bottom: 1ex;">
                <div class="row-fluid">
                    <div class="span2" style="text-align: left;">
                        <strong>{{comment.author}}:</strong>
                        <br>
                        <!--<small>{{formatDate(comment.time)}}</small>
                        Даты неверны, проблема со стороын php/mysql-->
                    </div>
                    <div class="span9" style="white-space: pre-line;"
                            >{{comment.comment}}</div>
                    <div class="span1" ng-show="isAdmin">
                        <i class="icon-remove" ng-click="remove(comment)" style="cursor: pointer"></i>
                    </div>
                </div>
                <hr>
            </div>
        </dl>
        <div ng-show="comments == []">
            <p class="text-info">
                Пока комментариев нет.
            </p>
            <hr>
        </div>
        <div ng-show="displayError">
            <p class="text-error">
                Произошла ошибка при поытке получения комментариев. Попробуйте обновить страницу.
            </p>
            <hr>
        </div>
    </div>
    <div ng-show="tab == 'Post'">
        <p ng-show="isIE10" class="text-warning">
            Вы используете браузер Internet Еxplorer 10.
            Некоторые версии этого браузера содержат ошибку, препятствующую отправке комментариев.
            Если комментарий не отправляется, то попробуйте другой браузер, например,
            <a href="http://www.mozilla.org/">Firefox</a> или
            <a href="https://www.google.com/intl/ru/chrome/browser/">Chrome</a>.
        </p>
        <form class="form-horizontal" name="postForm">
            <div class="control-group">
                <label for="comment" class="control-label">Сообщение</label>
                <div class="controls">
                    <textarea id="comment" name="comment" ng-model="postFormCtl.data.comment"
                              rows="7" class="span8" required
                              ng-disabled="postFormCtl.state != 'ready'"></textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button ng-click="postFormCtl.submit()"
                            ng-disabled="postFormCtl.state != 'ready' || postForm.$invalid"
                            class="btn btn-primary">Отправить</button>
                </div>
                <div class="controls" ng-show="postFormCtl.state == 'message'">Ошибка отправки комментария: {{message}}
                    <button class="btn" ng-click="postFormCtl.readMessage()">Попробовать еще раз.</button>
                </div>
            </div>
            <p>{{name}}</p>
            <p>Настройки</p>
        </form>
    </div>
    <div ng-show="tab == 'Auth'">
        <div>
            <form role="form" class="form-horizontal" ng-submit="submit()">
                <div class="form-group">
                    <label for="email" class="control-label">Электронная почта</label>
                    <div class="controls">
                        <input type="email" class="form-control" id="email" placeholder="user@example.com" ng-model="form.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Пароль</label>
                    <div class="controls">
                        <input type="password" class="form-control" id="password" ng-model="form.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="form.remember">Запомнить
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Вход</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="tab == 'Register'"></div>
    <div ng-show="tab == 'Settings'"></div>
</div>