<div ng-controller="CommentsController">
    <div>
        <div ng-repeat="comment in comments" style="margin-bottom: 1ex;">
            <div class="row-fluid">
                <div class="span2">
                    <strong>{{comment.author}}:</strong>
                    <br>
                    <!--<small>{{formatDate(comment.time)}}</small>
                    Даты неверны, проблема со стороын php/mysql-->
                </div>
                <div class="span9" style="white-space: pre-line;"
                        >{{comment.comment}}</div>
                <div class="span1" ng-show="authData.isAdmin">
                    <i class="icon-remove" ng-click="remove(comment)" style="cursor: pointer"></i>
                </div>
            </div>
            <hr>
        </div>
        <div ng-show="comments.length == 0">
            <p class="text-info">
                Пока комментариев нет.
            </p>
            <hr>
        </div>
        <div ng-show="displayError"  class="text-error">
            <p>
                Произошла ошибка при поытке получения комментариев. Попробуйте обновить страницу.
            </p>
            <p>{{errorMessage}}</p>
            <hr>
        </div>
    </div>
    <div ng-show="tab == 'Post'">
        <p ng-show="isIE10" class="text-warning">
            Вы используете браузер Internet Еxplorer 10.
            Некоторые версии этого браузера содержат ошибку, препятствующую отправке комментариев.
            Если комментарий не отправляется, то попробуйте другой браузер, например,
            <a href="http://www.mozilla.org/">Firefox</a> или
            <a href="https://www.google.com/intl/ru/chrome/browser/">Chrome</a>.
        </p>
        <form name="postForm" ng-submit="postFormCtl.submit()">
            <fieldset ng-disabled="authData.emailUnconfirmed || postFormCtl.state != 'ready'">
                <div class="row-fluid">
                    <div class="span2">
                        <label for="comment"><strong>{{authData.name}}:</strong></label>
                        <span class="text-error" ng-show="authData.emailUnconfirmed">
                            Для публикации комментариев требуется подтвердить адрес электронной почты</span>
                    </div>
                    <div class="span9">
                        <textarea id="comment" name="comment" ng-model="postFormCtl.data.comment"
                                  rows="7" ng-minlength="5" style="width:100%;" required></textarea>
                    </div>
                </div>
            </fieldset>
            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span8">
                    <button type="submit" ng-disabled="postForm.$invalid"
                            class="btn btn-primary">Отправить</button>
                    <div ng-show="postFormCtl.state == 'message'">Ошибка отправки комментария: {{postFormCtl.message}}
                        <button type="button" class="btn" ng-click="postFormCtl.state = 'ready'">
                            Попробовать еще раз.</button>
                    </div>
                </div>
                <div class="span2"><button type="button" class="btn" ng-click="logout()">Выход из системы</button></div>
                <!--<div class="span2"><button type="button" class="btn" ng-click="tab = 'Settings'">Настройки</button></div>-->
            </div>
        </form>
    </div>
    <div ng-show="tab == 'Auth'">
        <form role="form" name="authForm" class="form-horizontal" ng-submit="authCtl.submit()">
            <fieldset ng-disabled="authCtl.state != 'ready'">
                <div class="form-group">
                    <label for="email" class="control-label">Электронная почта</label>
                    <div class="controls">
                        <input type="email" class="form-control" id="email" required
                               placeholder="user@example.com" ng-model="authCtl.data.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Пароль</label>
                    <div class="controls">
                        <input type="password" required class="form-control" id="password"
                               ng-model="authCtl.data.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="authCtl.data.remember">Запомнить
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Вход</button>
                        <button type="button" class="btn" ng-click="tab = 'Register'">Регистрация</button>
                        <button type="button" class="btn" ng-click="tab = 'ChangePassword'">Забыл пароль</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <span class="text-error" ng-show="authCtl.state == 'error'">
            {{authCtl.message}} <button class="btn" ng-click="authCtl.state = 'ready'">Попробовать снова</button>
        </span>
    </div>
    <div ng-show="tab == 'Register'">
        <h3>Регистрация</h3>
        <form role="form" name="registerForm"ng-submit="registerCtl.submit()">
            <fieldset ng-disabled="registerCtl.state != 'ready'">
                <div class="form-group">
                    <label for="emailr" class="control-label">Электронная почта</label>
                    <div class="controls">
                        <input type="email" class="form-control" id="emailr" name="emailr" required
                               placeholder="user@example.com" ng-model="registerCtl.data.email">
                        <span ng-show="registerForm.emailr.$error.email">Это некорректный адрес электронной почты</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="namer" class="control-label">Имя</label>
                    <div class="controls">
                        <input type="text" class="form-control" id="namer" name="namer" required
                               ng-minlength="4" placeholder="Иван Иванов З-99" ng-model="registerCtl.data.name">
                        <span ng-show="registerForm.namer.$error.minlength">Не короче четырех символов</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordr" class="control-label">Пароль</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="passwordr" id="passwordr" required
                               ng-minlength="4" ng-model="registerCtl.data.password">
                        <span ng-show="registerForm.passwordr.$error.minlength">Не короче четырех символов</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordr1" class="control-label">Пароль еще раз</label>
                    <div class="controls">
                        <input type="password" class="form-control" id="passwordr1" name="passwordr1" required
                               ng-minlength="4" match="registerCtl.data.password" ng-model="registerCtl.data.password1">
                        <span ng-show="registerForm.passwordr1.$error.match">Пароли не совпадают</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit" ng-disabled="registerForm.$invalid">
                            Зарегистрироваться
                        </button>
                    </div>
                </div>
            </fieldset>
            <div class="form-group" ng-show="registerCtl.state == 'error'">
                <div class="controls">
                    <span class="text-error">{{registerCtl.message}}</span><br>
                    <button type="button" ng-click="registerCtl.state = 'ready'" class="btn">
                        Попробовать снова
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="tab == 'RegisterSuccess'">
        <p>
            Для завершения регистрации необходимо подтвердить адрес электронной почты.
            <button ng-click="tab = 'Auth'">Назад</button>
        </p>
    </div>
    <div ng-show="tab == 'ChangePassSuccess'">
        <p>
            Смену пароля необходимо подтвердить по электронной почте
            <button ng-click="selectTab()">Назад</button>
        </p>
    </div>
    <div ng-show="tab == 'Settings'">
        <form name="settingsNameForm" role="form" ng-submit="settingsCtl.changeName()">
            <fieldset ng-disabled="settingsCtl.state != 'ready'">
                <div class="row-fluid">
                    <div class="span2"><label for="names">Имя</label></div>
                    <div class="span5">
                        <input type="text" id="names" name="names" required
                               ng-minlength="4" placeholder="Иван Иванов З-99" ng-model="settingsCtl.data.name">
                        <span ng-show="settingsNameForm.names.$error.minlength">Не короче четырех символов</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2"></div>
                    <div class="span5">
                        <button type="submit" class="btn btn-primary"
                                ng-disabled="settingsNameForm.$invalid || settingsNameForm.$pristine"
                                >Сохранить</button>
                        <span ng-show="settingsCtl.savedNameMessage">Сохранено</span>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span5" ng-show="settingsCtl.state == 'nMessage'">
                <span class="text-error">{{settingsCtl.nameMessage}}</span><br>
                <button type="button" ng-click="settingsCtl.state = 'ready'" class="btn">
                    Попробовать снова
                </button>
            </div>
        </div>
        <form name="settingsPasswordForm" role="form" ng-submit="settingsCtl.changePassword()">
            <fieldset ng-disabled="settingsCtl.state != 'ready'">
                <div class="row-fluid">
                    <div class="span2"><label for="passwords">Текущий пароль</label></div>
                    <div class="span10">
                        <input type="password" name="passwords" id="passwords" required
                               ng-minlength="4" ng-model="settingsCtl.data.password">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2"><label for="passwords1">Новый пароль</label></div>
                    <div class="span10">
                        <input type="password" id="passwords1" name="passwords1" required
                               ng-minlength="4" ng-model="settingsCtl.data.password1" match="settingsCtl.data.password2">
                        <span ng-show="settingsPasswordForm.passwords1.$error.minlength">Не короче четырех символов</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2"><label for="passwords2">Новый пароль еще раз</label></div>
                    <div class="span10">
                        <input type="password" id="passwords2" name="password2" required
                               ng-model="settingsCtl.data.password2">
                        <span ng-show="settingsPasswordForm.passwords1.$error.match">Пароли не совпадают</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2"></div>
                    <div class="span10">
                        <button type="submit" class="btn btn-primary"
                                ng-disabled="settingsPasswordForm.$invalid || settingsPasswordForm.$pristine"
                                >Сохранить</button>
                        <span ng-show="settingsCtl.savedPasswordMessage">Сохранено</span>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span10" ng-show="settingsCtl.state == 'pMessage'">
                <span class="text-error">{{settingsCtl.passwordMessage}}</span><br>
                <button type="button" ng-disabled="false" ng-click="settingsCtl.state = 'ready'" class="btn">
                    Попробовать снова
                </button>
            </div>
        </div>

        <div>
            <button type="button" class="btn" ng-click="tab = 'Post'">Назад</button>
        </div>
    </div>
    <div ng-show="tab == 'ChangePassword'">
        <h3>Смена пароля</h3>
        <form role="form" name="changePassForm" ng-submit="changePassCtl.submit()">
            <fieldset ng-disabled="changePassCtl.state != 'ready'">
                <div class="form-group">
                    <label for="emailc" class="control-label">Электронная почта</label>
                    <div class="controls">
                        <input type="email" class="form-control" id="emailc" name="emailc" required
                               placeholder="user@example.com" ng-model="changePassCtl.data.email">
                        <span ng-show="changePassForm.emailc.$error.email">Это некорректный адрес электронной почты</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordс" class="control-label">Новый пароль</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="passwordс" id="passwordс" required
                               ng-minlength="4" ng-model="changePassCtl.data.password">
                        <span ng-show="changePassForm.passwordc.$error.minlength">Не короче четырех символов</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordc1" class="control-label">Новый пароль еще раз</label>
                    <div class="controls">
                        <input type="password" class="form-control" id="passwordc1" name="passwordc1" required
                               ng-minlength="4" match="changePassCtl.data.password" ng-model="changePassCtl.data.password1">
                        <span ng-show="changePassForm.passwordc1.$error.match">Пароли не совпадают</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit" ng-disabled="changePassForm.$invalid">
                            Сменить пароль
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="span2"></div>
        <div class="span10" ng-show="changePassCtl.state == 'error'">
            <span class="text-error">{{changePassCtl.message}}</span><br>
            <button type="button" ng-disabled="false" ng-click="changePassCtl.state = 'ready'" class="btn">
                Попробовать снова
            </button>
        </div>
    </div>
</div>